body {
    font-family: 'Work Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.text {
    font-family: 'Work Sans', sans-serif;
    font-size: medium;
    font-weight: 400;
    margin-bottom: 2vw;
}

.navbar {
    background-color: rgb(9, 9, 43);
    color: white;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-img {
    max-height: 10vh;
    margin-right: 2vw;
    width: auto;
}

@media (max-width: 768px) {
    .logo-img {
        max-height: 7vh;
        margin-right: 1.5vw;
    }
}

.nav-links {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    background-color: #215ca3;
    color: white;
    border-radius: 5px;
}

.menu-icon {
    margin-right: 20px;
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 4px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgb(9, 9, 43);
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-icon {
        display: flex;
    }
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    margin: 0;
}

p {
    font-size: 1.5rem;
}

.btn {
    display: inline-block;
    background-color: #ff8000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    width: 160px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #215ca3;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .btn {
        width: 100%;
        max-width: 300px;
    }
}

.container {
    max-width: 90%;
    margin-left: 5vw;
}

#intro {
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: 100%;
    background-color: white;
    text-align: left;
}

#intro h2 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

#intro p {
    font-size: 1.2rem;
}

#intro-servicios {
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.intro-servicios {
    display: flex;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    flex-wrap: wrap;
}

.intro-servicios h3 {
    flex: 1;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    color: rgb(9, 9, 43);
}

.intro-servicios p {
    flex: 2;
    margin: 0;
    padding: 20px;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-size: medium;
    font-weight: 400;
}

@media (max-width: 768px) {
    .intro-servicios {
        flex-direction: column;
        align-items: stretch;
    }

    .intro-servicios h3, .intro-servicios p {
        text-align: center;
        padding: 10px;
    }

    .intro-servicios a.btn {
        margin: 10px auto;
        width: 150px;
    }
}

html {
    scroll-padding-top: 100px;
}

@media (max-width: 1024px) {
    html {
        scroll-padding-top: 560px;
    }
}

@media (max-width: 768px) {
    html {
        scroll-padding-top: 330px;
    }
}

#linkedin-cards {
    margin: 5vw;
    box-sizing: border-box;
}

#linkedin-cards h2 {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

.linkedin-card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.linkedin-card {
    flex: 1 1 300px;
    max-width: 100%;
}

.linkedin-card iframe {
    width: 100%;
    height: 50vw;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#servicios, #contacto, #cultura {
    padding: 80px 40px;
    background-color: white;
    margin: 0 auto;
    max-width: 90%;
    box-sizing: border-box;
}

h2 {
    font-family: 'Exo 2', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: rgb(9, 9, 43);
}

h3 {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    font-optical-sizing: auto;
    font-weight: 600;
    color: rgb(9, 9, 43);
}

.servicio {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    flex-wrap: wrap;
}

.servicio h3 {
    text-align: center;
}

.servicio-image {
    max-width: 25vw;
    height: auto;
    border-radius: 8px;
    margin: .5rem;
}

.servicio-content {
    max-width: 60%;
    padding: 2rem;
}

.servicio.derecha .servicio-content {
    order: 1;
}

.servicio.derecha .servicio-image {
    order: 2;
}

.servicio.izquierda .servicio-content {
    order: 2;
}

.servicio.izquierda .servicio-image {
    order: 1;
}

.servicio {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    flex-wrap: wrap;
}

.servicio h3 {
    text-align: center;
}

.servicio-image {
    max-width: 25vw;
    height: auto;
    border-radius: 8px;
    margin: .5rem;
}

.servicio-content {
    max-width: 60%;
    padding: 2rem;
}

@media (max-width: 1024px) {
    .servicio {
        flex-direction: column;
        align-items: center;
    }

    .servicio.derecha .servicio-image,
    .servicio.izquierda .servicio-image {
        max-width: 45vw;
        margin-top: 4vw;
        border-radius: 4px;
        order: 1;
    }

    .servicio-content {
        max-width: 70%;
    }
}

@media (max-width: 960px) {
    .servicio {
        flex-direction: column;
        align-items: center;
    }

    .servicio.derecha .servicio-image,
    .servicio.izquierda .servicio-image {
        max-width: 45vw;
        margin-top: 4vw;
        border-radius: 4px;
        order: 1;
    }

    .servicio-content {
        max-width: 70%;
    } 
}

@media (max-width: 768px) {
    .servicio {
        flex-direction: column;
        align-items: center;
    }

    .servicio.derecha .servicio-image,
    .servicio.izquierda .servicio-image {
        max-width: 45vw;
        margin-top: 4vw;
        border-radius: 4px;
        order: 1;
    }

    .servicio-content {
        max-width: 70%;
    }
}

@media (max-width: 480px) {
    .servicio.derecha .servicio-image,
    .servicio.izquierda .servicio-image {
        max-width: 45vw;
        margin-top: 4vw;
        border-radius: 4px;
        order: 1;
    }

    .servicio-content {
        max-width: 70%;
    }
}


.nosotros-container {
    padding: 80px 40px;
    background-color: white;
    margin: 0 auto;
    max-width: 90%;
    box-sizing: border-box;
}

.nosotros {
    background-color: #f9f9f9;
    padding: 2vw;
    border-radius: 8px;
}

.nosotros h2 {
    font-family: 'Exo 2', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgb(9, 9, 43);
}

.nosotros a.nosotros {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
}

.nosotros h3 {
    color: #215ca3;
}

.nosotros a.nosotros:hover h3 {
    color: #5e3a8c;
}

.nosotros-image {
    text-align: center;
    margin-top: 20px;
}

.nosotros-image img {
    width: 150px;
    height: auto;
}

.nosotros-lema {
    text-align: center;
}

.mision {
    background-color: #f9f9f9;
    padding: 2vw;
    margin-bottom: 2vw;
    border-radius: 8px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.card {
    width: 200px;
    height: 300px;
    perspective: 1000px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}

.card-front {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 10px;
}

.card-back {
    background-color: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: rotateY(180deg);
    border-radius: 10px;
}

.card-text {
    font-family: 'Work Sans', sans-serif;
    font-size: small;
    font-weight: 400;
    padding: 10px;
    text-align: center;
}


.card:hover .card-front {
    transform: rotateY(180deg);
}

.card:hover .card-back {
    transform: rotateY(0deg);
}

.card-flip .card-front {
    transform: rotateY(180deg);
}

.card-flip .card-back {
    transform: rotateY(0deg);
}

.contacto {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.text {
    font-family: 'Work Sans', sans-serif;
    font-size: medium;
    font-weight: 400;
    margin-bottom: 2vw;
}

.contacto-a {
    color: #215ca3;
    transition: color 0.3s;
    word-break: break-all;
}

.text a:hover {
    color: #5e3a8c;
}

.container-columnas {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(9, 9, 43);
    border-radius: 8px;
}

.contacto-columnas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.columna-formulario {
    flex: 1;
    padding: 1rem;
    margin-left: 6%;
    box-sizing: border-box;
}

.columna-text {
    font-family: 'Work Sans', sans-serif;
    font-size: medium;
    font-weight: 400;
    color: silver;
    margin-bottom: 2vw;
    padding-left: 80px;
}

@media (max-width: 1024px) {
    .columna-text {
        padding-left: 0;
        text-align: center;
        padding: 4vw;
    }
}

.columna-a {
    color: #215ca3;
    transition: color 0.3s;
    word-break: break-all;
}

.columna-a:hover {
    color: #5e3a8c;
}

.columna-imagen {
    flex: 1;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

label {
    display: block;
    color: silver;
    margin-bottom: 5px;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"],
input[type="email"] {
    height: 40px;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #ff8000;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

input[type="submit"]:hover {
    background-color: #215ca3;
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .contacto-columnas {
        flex-direction: column;
        align-items: center;
    }

    .columna-formulario, .columna-imagen {
        width: 100%;
        margin-left: 0;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        max-width: 100%;
    }

    .fila-iconos {
        justify-content: center;
    }

    .icon {
        margin-bottom: 10px;
    }
}

.icon-container {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.fila-iconos {
    display: flex;
    flex-wrap: wrap;
}

.icon {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease;
    padding-left: 5vw;
}

.icon:hover {
    transform: scale(1.2);
}

footer {
    background-color: gray;
    color: white;
    padding: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-section {
    padding-bottom: 10px;
    font-family: "Fira Sans", sans-serif;
    font-size: medium;
    font-weight: 300;
    flex: 1;
}

.footer-section h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: small;
    list-style: none;
}

.footer-links li {
    width: 48%;
    padding: 2px;
    margin-bottom: 5px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #215ca3;
}

.social-links {
    display: flex;
    justify-content: center;
    font-size: small;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    margin-right: 10px;
}

.social-logo {
    width: 90px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}
