body {
    font-family: 'Work Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.text {
    font-family: 'Work Sans', sans-serif;
    font-size: 1 rem;
    font-weight: 400;
    padding: 3vh;
}

.navbar {
    background-color: rgb(9, 9, 43);
    color: white;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.logo-img {
    max-height: 10vh;
    margin-right: 2vw;
    width: auto;
}

@media (max-width: 768px) {
    .logo-img {
        max-height: 7vh;
        margin-right: 1.5vw;
    }
}

.nav-links {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: .8rem;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    background-color: #215ca3;
    color: white;
    border-radius: 5px;
}

.menu-icon {
    margin-right: 20px;
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 4px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 45px;
        right: 0;
        background-color: rgb(9, 9, 43);
        width: 100%;
        transition: max-height 0.5s ease;
    }

    .nav-links.active {
        display: flex;
        max-height: 500px;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-icon {
        display: flex;
    }
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay h2 {
    font-size: 1.8rem;
    color: white;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    margin: 80px;
}

p {
    font-size: 1 rem
}

.btn {
    display: inline-block;
    background-color: #ff8000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin-top: 80px;
    width: 160px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #215ca3;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .video-container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        padding-top: 200px;
    }

    .btn {
        width: 100%;
        max-width: 300px;
        text-align: center;
        padding: 10px 40px;
        margin-bottom: 10px;
    }
}

.container {
    max-width: 90%;
    margin-left: 5vw;
}

#intro {
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: 100%;
    background-color: white;
    text-align: left;
}

#intro h2 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

#intro p {
    font-size: 1.1rem;
}

#intro-servicios {
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.intro-servicios {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    padding: 2vh;
    background-color: #f9f9f9;
    border-radius: 8px;
    align-items: center;
}

.intro-servicios a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-servicios a img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 120px;
    height: auto;
    transition: transform 0.3s ease;
}

.intro-servicios a img:hover {
    transform: scale(1.2);
}

.intro-servicios h3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: rgb(9, 9, 43);
    margin: 0;
}

.intro-servicios p {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    font-family: 'Work Sans', sans-serif;
    font-size: 1 rem;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: vh;
}

.intro-btn {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: center;
}

.intro-btn {
    display: inline-block;
    background-color: #ff8000;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 160px;
    margin-bottom: 4vh;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.intro-btn:hover {
    background-color: #215ca3;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
    .intro-servicios {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto;
        gap: 1rem;
    }

    .intro-servicios a img {
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .intro-servicios a img:hover {
        transform: scale(1.2);
    }

    .text {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }

    .intro-btn {
        grid-column: 1 / 3;
        grid-row: 3;
        align-self: center;
        justify-self: center;
    }
}

@media (max-width: 768px) {
    .intro-servicios {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .intro-servicios a img {
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
    }

    .intro-servicios a img:hover {
        transform: scale(1.2);
    }

    .intro-servicios h3 {
        font-size: 1.2rem;
        grid-column: 1;
        grid-row: 2;
        text-align: center;
    }

    .intro-servicios p {
        font-size: 1rem;
        grid-column: 1;
        grid-row: 3;
        text-align: left;
        width: 100%;
    }

    .intro-btn {
        grid-column: 1;
        grid-row: 4;
        max-width: 60%;
        justify-self: center;
        align-self: center;
    }
}

html {
    scroll-padding-top: 100px;
}

@media (max-width: 1024px) {
    html {
        scroll-padding-top: 100px;
    }
}

@media (max-width: 768px) {
    html {
        scroll-padding-top: 280px;
    }
}

#linkedin-cards {
    margin: 5vw;
    box-sizing: border-box;
}

#linkedin-cards h2 {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

.linkedin-card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.linkedin-card {
    flex: 1 1 300px;
    max-width: 100%;
}

.linkedin-card iframe {
    width: 100%;
    height: 50vw;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#servicios, #nosotros, #contacto, #cultura, #aviso {
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: white;
    margin: 0 auto;
    max-width: 90%;
    box-sizing: border-box;
}

h2 {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
    font-optical-sizing: auto;
    font-weight: 600;
    color: rgb(9, 9, 43);
}

h3 {
    font-family: "PT Sans Caption", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    font-optical-sizing: auto;
    font-weight: 600;
    color: rgb(9, 9, 43);
}

.servicio-content h3 {
    font-size: 1.2rem;
    text-align: center;
}

.servicios-btn {
    display: inline-block;
    background-color: #ff8000;
    color: white;
    padding: 10px 20px;
    margin-bottom: 4vh;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    width: 160px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.servicios-btn:hover {
    background-color: #215ca3;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.servicio-derecha,
.servicio-izquierda {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 2vh;
    box-sizing: border-box;
    margin-bottom: 2vh;
}

@media (max-width: 768px) {
    .servicio-derecha,
    .servicio-izquierda {
        flex-direction: column;
    }

    .servicio-image img {
        min-width: 200px;
    }

    .servicio-derecha .servicios-btn,
    .servicio-izquierda .servicios-btn {
        grid-column: 1 / span 3;
        grid-row: 3;
        padding: 2vw;
    }

    .servicios-btn-container {
        grid-column: span 3;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 769px) {
    .servicio-derecha,
    .servicio-izquierda {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .servicio-derecha .servicio-image {
        grid-column: 3;
        grid-row: 1 / span 2;
    }

    .servicio-izquierda .servicio-image {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    .servicio-izquierda .servicio-content {
        grid-column: 2 / span 2;
        grid-row: 1 / span 2;
    }

    .servicio-derecha .servicio-content {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .servicio-derecha .servicios-btn,
    .servicio-izquierda .servicios-btn {
        grid-column: 1 / span 3;
        grid-row: 3;
    }

    .servicios-btn-container {
        grid-column: span 3;
        display: flex;
        justify-content: center;
    }

    .servicio-image img {
        min-width: 200px;
        height: auto;
    }

}

.servicio-image {
    text-align: center;
    max-width: 100%;
}

.servicio-image img {
    max-width: 70%;
    max-height: 300px;
    height: auto;
    border-radius: 8px;
}

.servicios-btn-container {
    grid-column: span 3;
    display: flex;
    justify-content: center;
}

.nosotros-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 2vw;
    box-sizing: border-box;
    margin-bottom: 2vw;
}

.nosotros a.nosotros {
    font-size: 1rem;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
}

.nosotros h3 {
    font-size: 1.2rem;
    color: #215ca3;
}

.nosotros a.nosotros:hover h3 {
    color: #5e3a8c;
}

.nosotros-image {
    text-align: center;
    margin-top: 20px;
}

.nosotros-image img {
    width: 150px;
    height: auto;
}

.nosotros-lema {
    text-align: center;
}

.mision {
    background-color: #f9f9f9;
    padding: 2vh;
    margin-bottom: 2vw;
    border-radius: 8px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.card {
    width: 200px;
    height: 300px;
    perspective: 1000px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid transparent;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
}

.card-front {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 10px;
}

.card-back {
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    transform: rotateY(180deg);
    border-radius: 10px;
    background: linear-gradient(135deg, #f9f9f9, #0a2a7a1c); /* Degradado de #ff8000 a #ffcc00 */
}

.card-text {
    font-family: 'Work Sans', sans-serif;
    font-size: .8rem;
    font-weight: 400;
    padding: 10px;
    text-align: center;
}


.card:hover .card-front {
    transform: rotateY(180deg);
}

.card:hover .card-back {
    transform: rotateY(0deg);
}

.card-flip .card-front {
    transform: rotateY(180deg);
}

.card-flip .card-back {
    transform: rotateY(0deg);
}

@media (min-width: 768px) and (max-width: 1300px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 2vw;
        justify-items: center;
    }
}

.contacto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 2vw;
    box-sizing: border-box;
    margin-bottom: 2vw;
}

.contacto-a {
    color: #215ca3;
    transition: color 0.3s;
    word-break: break-all;
}

.text a:hover {
    color: #5e3a8c;
}

.container-columnas {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(9, 9, 43);
    border-radius: 8px;
}

.contacto-columnas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 5vw;
}

.columna-formulario {
    flex: 1;
    padding-top: 1rem;
    box-sizing: border-box;
}

.columna-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: silver;
}

@media (max-width: 1024px) {
    .columna-text {
        padding-left: 0;
    }
}

.columna-a {
    color: #215ca3;
    transition: color 0.3s;
    word-break: break-all;
}

.columna-a:hover {
    color: #5e3a8c;
}

.columna-imagen {
    flex: 1;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

label {
    display: block;
    color: silver;
    margin-bottom: 5px;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"],
input[type="email"] {
    height: 40px;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #ff8000;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

input[type="submit"]:hover {
    background-color: #215ca3;
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .contacto-columnas {
        flex-direction: column;
        align-items: center;
    }

    .columna-formulario, .columna-imagen {
        width: 100%;
        margin-left: 0;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        max-width: 100%;
    }

    .fila-iconos {
        justify-content: center;
    }

    .icon {
        margin-bottom: 10px;
    }
}

.icon-container {
    display: flex;
    padding: 40px;
    justify-content: center;
    margin: 40px;
}

.fila-iconos {
    display: flex;
    flex-wrap: wrap;
}

.icon {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease;
    padding-left: 5vw;
}

.icon:hover {
    transform: scale(1.2);
}

.linkedin-logo {
    width: 90px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}

.linkedin-logo:hover {
    scale: 1.1;
}

.logo-cierre {
    max-height: 10vh;
    margin-right: 2vw;
    width: auto;
}

@media (max-width: 768px) {
    .logo-cierre {
        max-height: 7vh;
        margin-right: 1.5vw;
    }
}

.logo-cierre:hover {
    scale: 1.1;
}

.aviso {
    background-color: #f9f9f9;
    padding: 4vh;
    border-radius: 8px;
}

.aviso-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 4vh
}

.aviso a.aviso {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
}

.aviso-cierre h3 {
    font-size: 1.2rem;
    color: #215ca3;
    text-align: center;
}

.aviso-cierre h3:hover {
    color: #5e3a8c;
}

footer {
    background-color: gray;
    color: white;
    padding: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-section {
    padding-bottom: 10px;
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    flex: 1;
}

.footer-section h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: .7rem;
    list-style: none;
}

.footer-links li {
    width: 48%;
    padding: 2px;
    margin-bottom: 5px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #215ca3;
}

.social-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    margin-right: 10px;
}

.social-logo {
    width: 90px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}
